<div style="margin-top: 80px" class="content">
  <div class="content-form">
    <form (submit)="onSubmit()" class="example-form" [formGroup]="form">

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email"/>
        <mat-error> {{getErrorMessageEmail()}} </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password"/>
        <mat-error>El campo Password es requerido</mat-error>
      </mat-form-field>

      <div class="example-button-row">
        <button mat-raised-button class="btn" color="warn" routerLink="login">Cancelar</button>
        <button mat-raised-button class="btn" color="primary" [disabled]="form.invalid">Ingresar</button>
      </div>

    </form>
  </div>
</div>
