<div style="margin-top: 30px;">
  <div class="content-input">
    <mat-form-field>
      <mat-label>Ingrese texto</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
  </div>
</div>

<div class="content mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- Identification Column -->
    <ng-container matColumnDef="identification">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.identification}} </td>
    </ng-container>

    <!-- FirstName Column -->
    <ng-container matColumnDef="firstNasme">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstNasme}} </td>
    </ng-container>

    <!-- LastName Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <!-- Direction Column -->
    <ng-container matColumnDef="direction">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.direction}} </td>
    </ng-container>

    <!-- Neighborhood Column -->
    <ng-container matColumnDef="neighborhood">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.neighborhood}} </td>
    </ng-container>

    <!-- PhoneNumber Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef> PhoneNumber </th>
      <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <!-- Profession Column -->
    <ng-container matColumnDef="profession">
      <th mat-header-cell *matHeaderCellDef> Profession </th>
      <td mat-cell *matCellDef="let element"> {{element.profession}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
    #paginator
    [pageSize]="recordsForPage"
    [pageSizeOptions]="pageCombo"
    [length]="totalRecords"
    (page)="eventPaginator($event)"
    >
  </mat-paginator>
</div>
